{
  "dbRoles": [
    {
      "name": "admin",
      "password": "superSecret",
      "superuser": true,
      "createDb": true
    },
    {
      "name": "readonly",
      "password": "readOnlyPass",
      "superuser": false,
      "createDb": false
    },
    {
      "name": "readwrite",
      "password": "writePass",
      "superuser": false,
      "createDb": false
    }
  ],
  "dbDatabases": [
    {
      "name": "mydb",
      "owner": "admin",
      "readers": [ "readonly" ],
      "writers": [ "readwrite" ]
    },
    {
      "name": "reporting",
      "owner": "admin",
      "readers": [ "readonly" ]
    }
  ]
}
